
.ant-form {
  padding: 20px;
  .ant-form-item-label > label {
    line-height: 40px;
  }
  .headList {
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    label {
      margin-bottom: 10px;
    }
  }
}